@font-face {
    font-family: ubuntu;
    src: url(fonts/ubuntu/Ubuntu-R.ttf);
}
@font-face {
    font-family: ubuntu-b;
    src: url(fonts/ubuntu/Ubuntu-B.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ubuntu, sans-serif;

}

html {
    position: relative;
    height: 100%;
}

body{
    background-color: #F7F2E1;
    min-height: 100%;
}

li, a, button{
    color: #222222;
    font-weight: 500;
    font-size: 16px;
    font-family: ubuntu-b;
    text-decoration: none;
    list-style-type: none;
}

header{
    background-color: #F7F2E1;
    color: #98B66E;
    padding-top: 20px;
}

.nav_links {
    background-color: #F7F2E1;
    /* box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.459); */
}

.header_title {
    font-family: ubuntu-b;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
    padding-bottom: 20px;
}

.nav_links li {
    padding: 10px 10px;
    color: #6a804d;
}

.nav_links li a{
    transition: all 0.2s ease 0s;
    color: #93b06a;

}

.link-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.nav_links li a:hover{
    color: #6a804d;
}


.main{
    background-color: #fbe39d;
    width: auto;
    text-align: center;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.459), inset 0px -5px 5px rgba(0, 0, 0, 0.459);
}

.main-info{
    padding: 10%;
}

.intro{
    font-family: ubuntu-b;
    padding: 25px 10%;
    font-size: 24px;
}


footer {
    background-color:#F7F2E1;
    padding: 3em;
    margin-top: auto;
    /* box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.459); */
}